@import "../../style.scss";

.login{
    height: 100vh;
    background-color: #8d6637;
    align-items: center;
    display: flex;
    justify-content: center;


    .card{
        width: 50%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;


        
        .left{
            background: linear-gradient(rgba(161, 125, 93, 0.286), rgb(32, 24, 15)), url("https://images.pexels.com/photos/1036804/pexels-photo-1036804.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center;
            flex: 1;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            h1{
                font-size: 100px;
                line-height: 100px;
            }
            
            p{
                padding: 5px;
            }

            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: whitesmoke;
                color: rgb(59, 43, 18);
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            h1{
                color: rgb(59, 43, 18);
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                 input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                 }
                 button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(84, 60, 21) ;
                    color: whitesmoke;

                 }
            }
        }
    }
}

body{
    margin: 0%;
    padding: 0%;
}